<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div><h1><%=post.title%></h1></div>
  <div>
    <%=post.price%>
  </div>
  <div>
	<% post.images.forEach(function(image){ %>
	<img src="<%= image.url %>" alt="Image" width="200px">
	<%})%>
  </div>
  <div>
	 <%=post.description%>
  </div>
  <div>
    <%=post.location%>
  </div>
  <div>
	<a href="/posts/<%= post.id %>/edit">
	  <button>Edit Post</button>
	</a>
  </div>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST"><input type="submit" value="Delete"></form>
</body>
</html>

